<h1>Resultados de la búsqueda</h1>

<!-- Cuadro de búsqueda de perfiles de usuario -->
<form action="/profiles/search" method="get">
  <input type="text" name="q" placeholder="Buscar usuarios">
  <button type="submit">Buscar</button>
</form>
<br>

<%= render 'profiles/list' %>