<div class="trendings">
  <h3>Tendencias</h3>
  <hr/>

    <div class="row">
      <% @trending_stories.each do |story| %>
      <div class="col-md-2">
        <%= render 'stories/story_slot', story: story %>
      </div>
      <% end %>
    </div>
</div>
