<html><head>
  <title>MagicStories</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="index.css" rel="stylesheet" type="text/css">
  </head><body data-spy="scroll">
    <div class="cover hidden-md hidden-sm hidden-xs">
      <div class="hidden-md hidden-sm hidden-xs nav-bar nav-bar1 navbar navbar-default navbar-inverse" id="navbar">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"><img height="20" alt="Brand" src="/system/index/logo2.png"></a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active">
                <a href="#">Magic Stories</a>
              </li>
              <li>
                <a href="#">Sobre Nosotros</a>
              </li>
              <li>
                <a href="#">Contáctanos</a>
              </li>
              <li class="active dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">Sumérgete &nbsp;<i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="#">Ingresar</a>
                  </li>
                  <li>
                    <a href="#">Registrarse</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cover-image" style="background-image : url('http://pingendo.github.io/pingendo-bootstrap/assets/blurry/800x600/14.jpg')"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 hidden-md hidden-sm hidden-xs text-center">
            <a href="#" class="hidden-md hidden-sm hidden-xs"><img src="/system/index/logo2.png" class="center-block img-responsive"></a><h1>Magic Stories</h1>
            <p>Historias donde tú eres el verdadero protagonista.</p>
            <br>
            <br>
            <a class="btn btn-lg btn-primary">Descubre más</a>
          </div>
        </div>
      </div>
    </div>
    <footer class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1>Magic Stories&nbsp;<i class="glyphicons glyphicons-registration-mark"></i></h1>
            
          </div>
          <div class="col-sm-6">
            <ul class="nav nav-justified nav-pills"><li class="active"><a href="#">Contáctanos</a></li><li class="active"><a href="#">Sobre Nosotros</a></li></ul><div class="col-md-12 hidden-xs text-right">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="https://github.com/Lammerlord92/Magic-Stories"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            <div class="row">
            </div>
            <div class="row">
              
            </div>
          </div>
        </div>
      </div>
    </footer>
  

</body></html>