<<<<<<< HEAD
<style>
  body{
    font-family: sans-serif;
    margin: 0;
  }

  h1{
    text-align: center;
    background-color: magenta;
    color: cyan;
    margin: 0;
    padding: 1em;
  }
</style>
<h1>Magic Stories</h1>
=======
<h1>Página de inicio</h1>
>>>>>>> e6134ecc58b661e75f37b6754eb98d2b228702cc
