<div class="jumbotron text-center">
  <h1>Magic Stories</h1>
  <p class="lead">
    Sitio en construccion
  </p>
  <p>
    <a href="#" role="button" class="btn btn-lg btn-primary">
      Mantenme informado
    </a>
  </p>
</div>