<div class="index-new-stories">
  <div class="center">
    <h2>Novedades</h2>
  </div>
  <% @categories.each_slice(2) do |categories| %>
    <div class="row">
      <% categories.each do |category| %>
        <div class="col-md-6">
          <h3><img src="<%= category.icon %>" alt="<%= category.name %>" class="category-image" /><%= category.name %></h3>
          <hr/>
          <div class="row">
            <% @newest_stories_by_category[category].each do |story| %>
              <div class="col-md-4">
                <%= render 'stories/story_slot', story: story %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
