<style>
  body{
    font-family: sans-serif;
    margin: 0;
  }

  h1{
    text-align: center;
    background-color: magenta;
    color: cyan;
    margin: 0;
    padding: 1em;
  }
  #lecorx{
    background-image: url('assets/le-corchu.jpg');
    width: 100%;
    height: 100%;
    min-height: 400px;
    color: white;
    text-align: center;
  }
  #lecorx h2{
    font-size: 100px;
  }
</style>
<h1>Magic Stories</h1>
<div id="lecorx"><h2>Usted no esta preparado</h2></div>
