<div class="trendings">
  <h3>Tendencias</h3>
  <hr/>
  <div class="row">
    <% @trending_stories.each do |story| %>
    <div class="col-md-2">
      <div class="trending-slot">
        <%= render 'stories/story_slot', story: story %>
        <p class="category">Género</p> <!-- Poner aquí el género cuando las historias tengan género -->
      </div>
    </div>
    <% end %>
  </div>
</div>
