<html lang="es">
<head>
  <title>Soy popup</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <style>

    #login{
      margin: 0 auto;
      display:block;
      margin-top: 5%;
    }

    #modal{
      width: 400px;
      background: #CACACA;
      height: 300px;
      box-shadow: 0px 0px 10px 4px;
      margin: 0 auto;
      margin-top: 12%;
      border-radius: 5px;
    }

    #close{
      position: absolute;
      right: 0px;
      top: 0px;
    }

    .glyphicon {
      font-size: 2.0em;
      color: white;
    }

    .glyphicon:hover{
      font-size: 2.0em;
      color: gray;
    }
  </style>
</head>

<body>

<!--<button id="login" class="btn btn-primary btn-lg">CLICK HERE</button>-->
<textarea id="login" class="btn btn-primary" placeholder="Clickeame!!!!"></textarea>

<section id="modal" class="modal fade">
  <div class="modal-body">
    <form action="login.php" method="post" role="form">
      <span id="close" onclick="close();" class="glyphicon glyphicon-remove circle pull-right"></span>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Enter title">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea typeof="text" class="form-control" id="description" placeholder="Enter description"></textarea>
      </div>

      <button type="submit" class="btn btn-danger">Submit</button>
    </form>
  </div>
</section>

<script>
  $(document).ready(function(){
    $("#login").on('click',function(){
      $("#modal").modal({show:true});
    });
    $("#close").on('click',function(){
      $("#modal").modal('hide');
    });
  });
</script>

</body>


</html>