<% @stories.each_slice(4) do |stories| %>
  <div class="row">
    <% stories.each do |story| %>
      <div class="col-md-3">
        <div class="center">
          <div class="story">
            <p class="title"><%= story.title %></p>
            <a href="/stories/<%=story.id %>">
              <img class="cover-image" title="<%= story.title %>" src="/assets/temporal_cover.jpg" />
            </a>
            <div class="story-info">
              <p class="author"><%= story.creatorProfile.name %></p>
              <p class="valoration">Valoración</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
