<script type="text/javascript" charset="utf-8">

</script>
<div ng-app="reader" ng-controller="ReaderController" class="col-sm-6 col-sm-offset-3">
  <style>
    .shadow{
      box-shadow: 2px 2px 5px #888;
    }
    header{
      font-size: 2em;
      padding: .2rem .4rem;
    }
    article{
      padding: 1rem;
    }
    .btn, .btn:hover{
      color: white !important;
    }
    .glyphicon, .glyphicon:hover{
      color: white;
      font-size: 1em;
    }
  </style>
  <header class="shadow">
    <span class="story-title"><%= @story.title %></span>
    <small class="story-date pull-right text-muted"><%= @story.release_date %></small>
  </header>
  <br>
  <h2 class="text-center" ng-show="loading">
    <img src="/ripple.svg" alt="Loading...">
  </h2>
  <article class="shadow" ng-hide="loading">
    <div ng-show="parent_id">
      <button class="btn btn-primary"  ng-click="setChapter(parent_id)">
        <span class="glyphicon glyphicon-chevron-left"></span> Atrás
      </button>
      <br><br>
    </div>
    <!--
    <p>{{ current_chapter? current_chapter.body : 'No hay cuerpo del capitulo/nodo' }}</p>
    -->
    <p ng-bind-html="current_chapter? current_chapter.body : 'No hay cuerpo del capitulo/nodo'"></p>
    <p ng-hide="options.length > 0" class="text-center">FIN</p>
    <ul id="options-list" class="text-center list-unstyled">
      <li ng-repeat="option in options">
        <button ng-click="setChapter(option.child_id)" class="btn btn-block btn-primary">
          <span class="glyphicon glyphicon-chevron-right"></span> {{option.option}}
        </button>
      </li>
    </ul>
  </article>
  <br>

  <script type="text/javascript" charset="utf-8">
    (function(){
      angular.module("reader", ["ngSanitize"])
        .controller("ReaderController", function($scope, $sanitize){
          $scope.loading = true;
          $scope.parent_id = null;
          $scope.options = [];
          $scope.current_chapter = null;

          $scope.setChapter = function setChapter(id){
            $scope.loading = true;
            $.get("/chapters/"+id+".json", function(chapter){
              var first_parent = chapter.parent_options[0];
              chapter.body = $sanitize(chapter.body);
              console.log((chapter.body));
              $scope.options = chapter.child_options;
              $scope.parent_id = first_parent? first_parent.parent_id : null;
              $scope.current_chapter = chapter;
              $scope.loading = false;
              $scope.$digest();
            })
          };

          $scope.setChapter(<%= @story.chapters.first.id %>);

        });
    })();

  </script>
</div>
