<div class="storylist">
  <h1>Story List</h1>
  <% @stories.each do |story| %>
      <a href="/stories/<%= story.id %>"><%= story.title %></a>
      <br>
  <% end %>
</div>

<form action="/stories" method="get">
  <input type="text" name="q" placeholder="Buscar historias">
  <button type="submit">Buscar</button>
</form>