
<h1>Historias</h1>
<div class="container-fluid">
  <% @stories.each do |stories| %>
      <div class="row">
        <div class="col-md-12">
          <div class="section">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <!-- Imagen de test -->
                  <% a = "http://photos1.meetupstatic.com/photos/event/2/a/6/a/global_11230858.jpeg" %>
                  <%= image_tag( a, class: "img-circle") %>
                </div>
                <div class="col-md-5">
                  <div class="row text-center">
                    <h3><%= stories.title %></h3>
                    </br>
                    <%= stories.description %>
                  </div>
                  <br/>
                </div>
                <div class="col-md-2">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
  <% end %>
