<h1>Story Details</h1>
<div class="field">
  <%= image_tag @story.cover.url(:thumb) %>
</div>
<form action="/additions/create" method="get">
  <input type="hidden" name="story_id" value="<%=@story.id%>">
  <button type="submit">Adquirir</button>
</form>
<%= render @story %>