<div data-ng-app="app" class="container">
    <header class="page-header">
        <h1 class="text-primary"><em>Rapsoda</em>: Lector</h1>
    </header>
    <div data-ng-controller="ReaderController">
        <span class="btn btn-success btn-file">
            <span class="glyphicon glyphicon-cloud-upload"></span>
            Examinar&hellip;
            <input  type="file" id="textfile"
                   accept="application/json"
                  onchange="angular.element(this).scope().fileChange()">
        </span>
        <span id="filename"></span>
        <span class="help-block">Sube un archivo JSON</span>
        <hr   data-ng-show="history.chunk">
        <%= render 'story' %>
    </div>
    <hr />
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>