<h1>Story Details</h1>
<div class="field">
  <%= image_tag @story.cover.url(:thumb) %>
</div>
<form action="/additions/create/<%=@story.id%>" method="get">
  <button type="submit">Adquirir</button>
</form>
<%= render @story %>