<div class="listAll">
  <h1> Lista de historias  </h1>
</div>

<div class="buttons">
  <%= link_to "Todas", stories#show_path, class:"btn btn-default"  %>
  <%= link_to "Adquiridas", stories#acquired_path, class:"btn btn-default"  %>
  <%= link_to "Creadas", stories#created_path, class:"btn btn-default"  %>
</div>