/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

.navbar-bottom{
	margin-bottom: 0;
	padding-top: 15px;
}

.errors{
  border: 1px solid darkred;
  border-radius: 5px;
  padding: 5px;
}

.error{
  color: red;
  padding: 0.5em;
  margin: 2px;
  background-color: #eaadc0;
}

.field_with_errors{
  padding-bottom: 5px;
  border-bottom: 1px solid red;
}

html{
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
}

body{
  position: relative;
  min-height: 100%;
  background-color: #efefef !important;
}

header{
  background-color: #002400 !important;
  color: #FFFFFF !important;
}

/* Cambio del color de hr por defecto para que se aprecie con el nuevo fondo */
hr{
  border-color: darkgray !important;
}

#barcon{
  color: #FFFFFF !important;
  text-align: center !important;
}

#NH{
  color: #002400;
  background-color: #ECA701;

}

/* centered columns styles */
.row-centered {
  text-align:center;
}

.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

/* resize images */
a.image_container img {
  width: 20%;
  height: 20%;
}

/* Footer */

footer{
  position: absolute;
  width: 100%;
  background-color: #002400 !important;
  color: #FFFFFF !important;
  margin-top: 20px;
}

footer a{
  color: #FFFFFF !important;
}

footer a:hover{
  color: lightgrey !important;
}

.navbar-footer{
  margin: 0 !important;
  border: 0 !important;
}