#cm{
  width:300px;
  height: 150px;
  color: black;
}
#title{
  width:300px;
  color: black;
}
#jbc{
  background-color: #002400 !important;
  color: white;
}
#lg{
  color: white;
}
#bdc{
  background-image: url("http://img13.deviantart.net/31cf/i/2015/028/8/6/super_hero_whatsapp_background_by_x_ama-d8fr7iz.jpg");
}


/* Listar comentarios */

.img-responsive{
  height: auto;
  width: 100%;
}

.comment-date{
  font-size: 10px;
}

/*.listar_comentarios{
  background-color: white;
  border-style: solid;
  border-width: 1px;
  line-height: 30px;
  word-wrap:break-word;
  margin-bottom: 4px;
  padding: 10px;
  padding-right: 2px;
  padding-left: 2px;
}

.icon_derecha{
  margin-left: 50px;
}*/