// Place all the styles related to the story controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a { cursor: pointer; }

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.option{
  background-color: #ddd;
  margin: 1em 0;
  padding: 1em;
  border: 1px solid grey;
  border-radius: 5px;
}

.story{
  border:  2px solid lightgrey;
  padding: 1em;
  margin:  1em;
}

.glyphicon-remove-circle{
  margin: 0.2em;
}
