.trendings {
  margin-bottom: 3%;
}

.trendings h3 {
  margin-bottom: 3px;
  margin-left: 10px;
}

.trendings hr {
  border-color: darkgray;
  margin-top: 0;
  margin-bottom: 0;
}

.trending-slot {
  background-color: white;
  border: 1px solid darkgray;
  border-radius: 0px 0px 15px 15px;
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.trending-slot .story {
  margin-top: 0;
}

.trending-slot p.category {
  font-size: 150%;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 4px;
}
