

<h1><%= @category.name  %></h1>

<div class="block-right">
    <% if @category.name == 'Drama' %>
      <img class="cover" src="/assets/categories_covers/caratula drama.jpg">
    <% elsif @category.name == 'Cuento' %>
        <img class="cover" src="/assets/categories_covers/cuento.jpg">
    <% elsif @category.name == 'Ficción' %>
        <img class="cover" src="/assets/categories_covers/ficcion.jpg">
    <% elsif @category.name == 'Terror' %>
        <img class="cover" src="/assets/categories_covers/terror.jpg">
    <% elsif @category.name == 'Épico' %>
        <img class="cover" src="/assets/categories_covers/epico.jpg">
    <% elsif @category.name == 'Aventura' %>
        <img class="cover" src="/assets/categories_covers/aventura.jpg">
    <% end %>
  </div>

    <div class="block-left">
      <%= @category.description %><br>

      <h2>Historias</h2>
      <% @stories.each do |story| %>


      <%end%>
    </div>








<div class="buttons">
	<% if user_signed_in? %>
   <% if current_user.role_type == 'Administrator' %>
          <br>
    <%= link_to "Editar", edit_category_path(@category), class:"btn btn-default"  %>
   <% end %>
  <% end %>
  <%= link_to "Atras", categories_path, class:"btn btn-default"  %>
</div>