<footer>
  <nav class="navbar navbar-default navbar-bottom" role="navigation">
    <div class="container">
      <b>&#0169; Magic Stories <span id="year"/>
        <script>
          $('#year').text(new Date().getFullYear());
        </script>
      </b>
    </div>
  </nav>
</footer>