<footer>
  <nav class="navbar navbar-default navbar-bottom" role="navigation">
    <div class="container">
	  <div class="row">
	  	<div class="col-md-10">
		  <b>&#0169; Magic Stories <span id="year"/>
		    <script>
		      $('#year').text(new Date().getFullYear());
		    </script>
		  </b>
	    </div>
	    <div class="col-md-2">
	      <a href="mailto:support@treestory.com">Contactar con el soporte</a>
	    </div>
	  </div>
    </div>
  </nav>
</footer>