<footer id="lay">
  <nav class="navbar navbar-footer navbar-bottom" role="navigation" id="lay">
    <div class="container text-left">
	  <div class="row" id="lay">
	  	<div class="col-md-10" id="barcon">
		  <b>&#0169; Tree Story <span id="year"/>
		    <script>
		      $('#year').text(new Date().getFullYear());
		    </script>
		  </b>
	    </div>
	    <div class="col-md-2" id="barcon">
	      <a id="barcon" href="mailto:support@treestory.com">Contactar con el soporte</a>
	    </div>
	  </div>
    </div>
  </nav>
</footer>