<!DOCTYPE html>
<html>
<head>
  <title>MagicStories</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <%# TODO layout base %>
  </header>

  <%= yield %>

  <footer>
    <%# TODO layout base %>
  </footer>

</body>
</html>
